@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PapaLama.Pages.IndexModel
@{
    ViewData["Title"] = "Главная";
}
@* Контейнер для частиц *@
<div id="particles-js" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></div>

<!-- Баннер -->
<section id="hero" class="section text-center d-flex align-items-center justify-content-center">
    <div class="center-container">
        <h1 class="display-3 fs-bold">PapaLama coin</h1>
        <p class="lead">Самая охуенная скам-монета, бля буду, покупайте ребята</p>
        <a href="#roadmap" class="btn btn-dark btn-lg mt-3">Explore Roadmap</a>
    </div>
</section>

<!-- About -->
<section id="about" class="section text-center">
    <h2>About Us</h2>
    <p class="mt-3 fs-5">
        Можно написать много рекламных слоганов про монету, но мне сейчас лень их придумывать. Скорее всего попрошу
        нейросеть сделать это. И то не сейчас
    </p>
</section>

<!-- Roadmap -->
<section id="roadmap" class="section text-center">
    <h2>Roadmap</h2>
    <div class="mt-4 fs-5">
        <p>Фаза 1</p>
        <ul class="list-unstyled">
            <li>Запустить на продакшн сайт</li>
            <li>Заказать рекламу у взятого в плен блоггера</li>
        </ul>

        <p>Фаза 2</p>
        <ul class="list-unstyled">
            <li>Листинг монеты на биржах</li>
            <li>Куча ебланов скупает монету, делая нам бабки</li>
        </ul>

        <p>Фаза 3</p>
        <ul class="list-unstyled">
            <li>Забираем бабки и радуемя, монету дропаем</li>
            <li>Накидываем денег дяде Диме</li>
        </ul>
    </div>
</section>

<!-- Tokenomics -->
<section id="tokenomics" class="section text-center">
    <h2>Tokenomics</h2>
    <div class="mt-4 fs-5">
        <p>дохуя% Капитализация+ за месяц</p>
        <p>дохуя% Затрат на разработку сайта (на самом деле нет)</p>
    </div>
</section>

<!-- FAQ -->
<section id="faq" class="section text-center">
    <h2>FAQ</h2>
    <details class="d-block mt-4 mb-3 mx-auto w-75 p-3 rounded bg-white bg-opacity-10">
        <summary class="fw-bold">Что такое MyToken-монета?</summary>
        <p class="mt-2">Это наскоро созданная монета на основе хуй знает чего</p>

        <summary class="fw-bold">Какой проект лежит в основе MyToken?</summary>
        <p class="mt-2">Никакого. Это пустышка для дебилов</p>

        <summary class="fw-bold">Смогу ли я на этом заработать?</summary>
        <p class="mt-2">Ответ - конечно нет. В лучшем случае на этом заработают создатели проекта</p>

        <summary class="fw-bold">Каков шанс, что меня наебут??</summary>
        <p class="mt-2">Если опираться на имеющиеся данные, то примерно 100%</p>
    </details>
</section>